.wrapper {
  padding: 0 60px;
}

.title {
  margin-bottom: 1rem;
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 950px) {
  .buttonWrapper {
    flex-direction: column;
  }
}
