* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: var(--black);
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  margin: auto;
}

.wrapper {
  max-width: 1170px;
  margin: auto;
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 950px) {
  .wrapper {
    grid-template-columns: 1fr 200px;
  }
}

@media screen and (max-width: 650px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

.img {
  max-width: 415px;
  object-fit: scale-down;
  align-self: end;
  margin-top: 30px;
}

:root {
  --black: #2f2e41;
  --gray-light: #e6e6e6;
  --primaryDark: #009b90;
  --primary: #00bfb3;
}
